<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eeda123.wms.eedawms">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GateInActivity"
            android:label="入库"
            android:screenOrientation="portrait" />
        <activity android:name=".GateInCancelActivity"
            android:label="入库取消"
            android:screenOrientation="portrait" />
        <activity android:name=".GateInReturnActivity"
            android:label="退货入库"
            android:screenOrientation="portrait" />
        <activity android:name=".GateOutActivity"
            android:label="出库"
            android:screenOrientation="portrait" />
        <activity android:name=".ShiftOutActivity"
            android:label="移库(出)"
            android:screenOrientation="portrait" />
        <activity android:name=".ShiftInActivity"
            android:label="移库(入)"
            android:screenOrientation="portrait" />
        <activity android:name=".InvCheckActivity"
            android:label="盘点"
            android:screenOrientation="portrait" />
        <activity android:name=".InvReCheckActivity"
        android:label="盘点复核"
        android:screenOrientation="portrait" />
        <activity android:name=".GateInListActivity"
            android:label="入库记录"
            android:screenOrientation="portrait" />

    </application>

</manifest>